button{
    display: inline;
    overflow: hidden;
    margin-left: 12%;
    margin-top: 15%;
    cursor: pointer;
    width: 150px;
    height:75px ;
    font-family: serif bold;
    border-bottom: 8px ;
    border-radius: 11%;
    background-color:rgb(79, 201, 201);
     text-align: center;
     object-fit: cover;
transition: 0.3;

}
button{
    transform: scale(1.03);

}
button{
    
    display: inline;
    overflow: hidden;
    margin-left: 12%;
    margin-top: 15%;
    cursor: pointer;
    width: 150px;
    height:75px ;
    font-family: serif bold;
    border-bottom: 8px ;
    border-radius: 11%;
    background-color:rgb(255, 255, 255);
     text-align: center;
     object-fit: cover;
transition: 0.3;

}
button{
    transform: scale(1.03);
}
button{
    
    display: inline;
    overflow: hidden;
    margin-left: 12%;
    margin-top: 15%;
    cursor: pointer;
    width: 150px;
    height:75px ;
    font-family: serif bold;
    border-bottom: 8px ;
    border-radius: 11%;
    background-color:rgb(255, 255, 255);
     text-align: center;
     object-fit: cover;
transition: 0.3;

}
button{
    transform: scale(1.03);
}
button{
    
    display: inline;
    overflow: hidden;
    margin-left: 12%;
    margin-top: 15%;
    cursor: pointer;
    width: 150px;
    height:75px ;
    font-family: serif bold;
    border-bottom: 8px ;
    border-radius: 11%;
    background-color:rgb(255, 255, 255);
     text-align: center;
     object-fit: cover;
transition: 0.3;

}
button{
    transform: scale(1.03);
}